{% spaceless %}

    {#{{ pa(man_id) }} {{ pa(man) }}#}

    {# смотрим какая точка для бух главная, эта или другая #}
    {% if jobmans.data.ar__jm_sp[man_id] is defined and jobmans.data.ar__jm_sp[man_id]|length > 1 %}
        {% if sps_heads__jm_sp[man_id] is defined %}
            {% if sps_heads__jm_sp[man_id] == get.sp %}
                {#работает выбрана наша точка из многих#}
                {% set show_pay_form = true %}
            {% else %}
                {#работает выбрана НЕ наша точка из многих#}
                {% set show_pay_form = false %}
            {% endif %}
        {% endif %}
    {% else %}
        {#работаем нет многих точек#}
        {% set show_pay_form = true %}
    {% endif %}




    {% set summa_man1 = 0 %}



    {% include '/vendor/didrive_mod/job_buh/1/didrive/tpl/body.2007.tables.user_up_line.htm' %}

    {% for i in range(low=0, high=31, step=1) %}

        {% set date = date_start|date_modify("+"~i~" day")|date("Y-m-d") %}
        {#{{ date }}#}

        {% if date|date("U") <= date_finish|date("U") %}

            {% set new_dolgn = '' %}

            {% for k3,i in actions.data.actions if i['date'] == date and ( i['type'] == 'check' 
                    or i['type'] == 'plus' 
                    or i['type'] == 'minus' 
                    or i['type'] == 'auto_plus' 
                    ) and i['jobman'] == man_id %}



            {% set today_summ = 0 %}
            {% set today_summa = 0 %}

            <div class="trow info_{{ man_id }}" style="display:none;" >

                <div class="tcell" >
                    {{ i.date|date('d.m.Y') }}
                </div>
                <div class="tcell bg-white stick-left" >

                    {% if i.type == 'plus' %}

                        <span class="checks_item sp1" >бонус (ручной)</span>

                        {#{{  pa(i,2) }}#}

                        {{ i.text }}
                        {% set today_summa = i.summa %}
                        {#{{ i.bonus }}#}

                    {% elseif i.type == 'auto_plus' %}

                        <span class="checks_item sp1" >бонус</span>

                        {#{{  pa(i,2) }}#}

                        {{ i.text }}
                        {% set today_summa = i.bonus %}
                        {#{{ i.bonus }}#}

                    {% elseif i.type == 'minus' %}

                        <span class="checks_item sp1" >взыскание</span>

                        {#{{  pa(i,2) }}#}

                        {{ i.text }}
                        {% set today_summa = i.summa %}
                        {#{{ i.bonus }}#}

                    {% elseif i.type == 'check' %}

                        {#{{ i.today_type ?? '' }}#}

                        {#<br/>#}
                        {% set sum_day = 0 %}

                        {% if sps[i.today_sp]['head'] is not null %}
                            <span class="checks_item sp1" >{{ sps[i.today_sp]['head'] }}</span>
                        {% endif %}

                        {% if i.today_type == 'norm' %}
                            <span class="checks_item smena" >Трудовая смена</span>
                        {% elseif i.today_type == 'spec' %}
                            <span class="checks_item spec" >Спец. назначение</span>
                            {#{% set now_day_spec_jobs = true %}#}
                        {% endif %}

                        {% if dolgnosti[i.today_d]['head'] is defined %}
                            <span class="checks_item dolgn sup_hover_gray" >{{ dolgnosti[i.today_d]['head'] }}</span>
                        {% endif %}

                        c {{ i.start[11:5] }} до {% if i.start[11:2] < i.fin[11:2] %}{{ i.fin|date('H:i') }}{% else %}{{ i.fin|date('d.m.Y H:i') }}{% endif %}

                        <br/>
                        {#{% if item.jobman == 200 %}{{ pa(item,2) }}<br/>{% endif %} #}

                        Часов: {{ i.today_hours ?? '-' }}
                        Оценка: {{ i.today_ocenka ?? '-' }}
                        {%  if i.money.oborot_day_now is defined %}
                            Оборот дня: {{ (i.money.oborot_day_now/1000)|number_format(1, '.', '`') }}тр
                        {%  endif %}
                        Цена часа: {{ i.salary_hour ?? '-' }}

                        {#{% if 1 == 1 or item.id == 121515 %} item {{ pa(item,2) }} {% endif %}#}
                        {#{% if 1 == 2 or i.id == 128450 %} item {{ pa(i,2) }} {% endif %}#}
                        {#{% if 1 == 2 %} now_day_job {{ pa(now_day_job) }} {% endif %}#}



                    {% endif %}

                </div>
                <div class="tcell text-right" >

                    {# новая версия #}
                    {% if 1 == 1 %}

                        {% if skip_calc != true %}

                            {% if today_summa != 0  %}

                                {#{% elseif today_summ == 0  %}#}
                                {{ today_summa|number_format(0, '.', '`') }}
                                {% set summa_man1 = summa_man1 + today_summa %}

                            {% else %}

                                {#{% if today_summ == 0  %}#}
                                {% set today_summ = i.today_hours * i.salary_hour %}
                                {{ today_summ|number_format(0, '.', '`') }}
                                {% set summa_man1 = summa_man1 + today_summ %}

                            {% endif %}

                            {#                                        {% if today_summ != 0  %}
                                                                    {% endif %}
                            #}
                        {% endif %}

                    {% else %}

                        {% if skip_calc != true %}
                            {% if i.summa is defined and i.summa > 0 %}

                                {{ i.summa|number_format(0, '.', '`') }}
                                {% set summa_man1 = summa_man1 + i.summa %}
                                {% set money_job = money_job + i.summa %}

                            {% endif %}
                        {% endif %}

                    {% endif %}

                </div>
                <div class="tcell" ></div>
                <div class="tcell" ></div>

            </div>

            {% endfor %}

                {% endif %}

                    {% if 1 == 2 %}
                        <div class="tcell c{{ user_id }}_{{sp_now}}_{{ date }}">

                            {% set new_dolgn = '' %}

                            {% for k3,i in user_v if i['date'] == date %}
                                {% if i['type'] == 'spec' %}
                                    {#spec {{ pa(i) }}#}
                                {% else %}
                                    {% set now_dolgn = i %}
                                    {% set new_dolgn = 1 %}
                                {% endif %}
                            {% endfor %}


                            {% set now_spec = '' %}

                            {% if jobmans.data.spec[jobman_id] is defined %}
                                {% for k3 , i in jobmans.data.spec[jobman_id] if i.date == date %}

                                    {% if i.sale_point == get.sp %}
                                        {% set now_spec = i %}
                                    {% else %}
                                        {% include dir_mod_now_mod_ditpl~'body.2007.1sp.1worker.new_spec.htm' %}
                                    {% endif %}

                                {% endfor %}
                            {% endif %}

                            {# если работает на другой точке и нет спец назначения на эту #}
                            {% if now_dolgn.sale_point is defined and now_dolgn.sale_point != get.sp and now_spec == '' %}

                                <div class="on_hover_opacity05green" title="сегодня норм назначение" >
                                    <b>{{ sps[now_dolgn.sale_point]['head'] }}</b>
                                    {{ now_dolgn.dolgnost_name }}
                                </div>

                            {% else %}

                                {#{% if jobman_id == 517 %} now_dolgn {{ pa(now_dolgn) }} now_spec {{ pa(now_spec) }} {% endif %}#}
                                {% if 1 == 1 %}
                                    {% if now_dolgn != '' or ( now_spec.sale_point is defined and now_spec.sale_point == get.sp ) %}
                                        {% include dir_mod_now_mod_ditpl~'body.2007.1sp.1worker.day_option.htm' %}
                                    {% endif %}
                                {% endif %}

                                {% if now_dolgn != '' and new_dolgn != '' %}
                                    {% set i = now_dolgn %}

                                    {% for k3,i22 in user_v if i22['date'] == date %}
                                        {% if i['type'] == 'spec' %}
                                        {% else %}
                                            {% if 1 == 3 %}
                                                {% if i22 != i %}
                                                    {% set i23 = i %}
                                                    {% set i = i22 %}
                                                    {% include dir_mod_now_mod_ditpl~'body.2007.1sp.1worker.new_dolgnost.htm' %}
                                                    {% set i = i23 %}
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}

                                    {% if 1 == 3 %}
                                        {% include dir_mod_now_mod_ditpl~'body.2007.1sp.1worker.new_dolgnost.htm' %}
                                    {% endif %}

                                {% endif %}

                                {% if now_spec != '' %}
                                    {#{{ pa(now_spec) }}#}
                                    {% set i = now_spec %}
                                    {% if 1 == 3 %}
                                        {% include dir_mod_now_mod_ditpl~'body.2007.1sp.1worker.new_spec.htm' %}
                                    {% endif %}
                                {% endif %}

                                {% if now_dolgn != '' or now_spec != '' %}
                                    {#<Br/>122++#}

                                    {#{{ pa(now_dolgn) }}#}

                                    {% if 1 == 3 %}
                                        {% for p, i in actions.data.actions if i.jobman == jobman_id and i.sale_point == get.sp and i.date == date and i.type == 'metki' %}
                                            {% include dir_mod_now_mod_ditpl~'body.2007.1sp.1worker.'~i.type~'.htm' %}
                                            {#{{  pa(i) }}#}
                                        {% endfor %}
                                    {% endif %}

                                    {% set i2 = 0 %}
                                    {% set n1 = 1 %}
                                    {#{% set skip = [] %}#}

                                    {% set last_id = 0 %}

                                    {% for p, i in actions.data.actions if i.jobman == jobman_id and i.date == date and i.type == 'check' %}


                                        {% if i.spec_sp > 0 and i.spec_sp != get.sp and i.sale_point == '' %}

                                            {#+++ на другой точке#}
                                            <div class="text-center show_down_hiden smena1 smena_on_dr_sp" >
                                                рабочая смена на {{ sps[i.spec_sp]['head'] }}
                                            </div>

                                        {% elseif i.sale_point != '' and i.sale_point != sp_now %}

                                            {#+++ на другой точке#}
                                            <div class="text-center show_down_hiden smena1 smena_on_dr_sp" >
                                                рабочая смена на {{ sps[i.sale_point]['head'] }}
                                            </div>

                                        {% else %}


                                            {% if last_id != i.id %}

                                                {#<br/>141++ {{ p }} / {{ last_id }} / {{ i.id }}#}

                                                {% set last_id = i.id %}

                                                {% if i.sale_point == '' or i.sale_point == get.sp %}
                                                    {% set i2 = i %}
                                                {% endif %}

                                                {#{% set skip = skip|merge({ i['id'] }) %}#}

                                                {{ pa(i) }}
                                                {% include dir_mod_now_mod_ditpl~'body.2007.1sp.1worker.'~i.type~'.htm' %}

                                            {% endif %}

                                            {#{{ pa(i,2) }}#}
                                        {% endif %}

                                    {% endfor %}


                                    {% if i2 != 0 %}

                                        {% set auto_bonus = jobdesc__calcAutoBonus( db, get.sp, i2 ) %}
                                        {#{{ pa(auto_bonus) }}#}
                                        {#<br/>155++#}
                                        {% include dir_mod_now_mod_ditpl~'body.2007.1sp.1worker.plus.auto.htm' %}
                                        {% set auto_bonus = [] %}

                                    {% endif %}


                                    {% for p, i in actions.data.actions if i.jobman == jobman_id and i.date == date and ( i.type == 'minus' or i.type == 'plus' or i.type == 'comment' ) %}
                                        {#<br/>162++#}
                                        {% include dir_mod_now_mod_ditpl~'body.2007.1sp.1worker.'~i.type~'.htm' %}
                                    {% endfor %}

                                {% endif %}

                            {% endif %}

                        </div>
                    {% endif %}


                    {% endfor %}

                        {# версия для печати #}
                        {% if get.type is defined and get.type == 'print' %}
                            {% include '/vendor/didrive_mod/job_buh/1/didrive/tpl/body.2007.print.user_bottom_line.htm' %}
                        {% else %}
                            {% include '/vendor/didrive_mod/job_buh/1/didrive/tpl/body.2007.tables.user_bottom_line.htm' %}
                        {% endif %}

                        {% endspaceless %}