{% spaceless %}

    {# показ одного сотрудника и его смены и его бабки #}

    {% if 1 == 2 %}
        <hr>
        <br/>
        {{ jobs_on_sp }} - {{ v }} -2 {{ who_is_job }} -3 {{ v2 }} -4 {{ v }} -5 {{ k3 }} -6 {{v3 }}
        <br/>
    {% endif %}













    {% set summa_man = 0 %}                                
    {% set error_ruk = false %}

    {#{ pa(jman) }#}

    {#% for k, d in jobs_on_sp.jobs if  %#}
    {% for jobman, ar1 in checks.items if jobman == jman %}

        <div class="trow stick-top3" >

            <div class="tcell" style="border: none;" >&nbsp;</div>
            <div class="tcell" style="background-color: lightgreen;" >

                <button class="btn-xs btn" 
                        onclick="$('.info_{{ jobman }}').toggle('slow');"
                        style="float:right;">показать/скрыть подробности</button>

                <b>{{ checks.fio[jobman] }}</b> &nbsp; <sup style="color:gray;">{{ jobman }}</sup>
            </div>

            <div class="tcell" style="border: none;" >&nbsp;</div>
            <div class="tcell" style="border: none;" >&nbsp;</div>

        </div>










        {#{ pa(ar1,2) }#}

        {#
        jobs_on_sp
        {{ pa(jobs_on_sp,2) }}
        #}

        {#
        ar1
        {{ pa(ar1) }}
        #}
        
        
        {#% for date, ar in ar1 %#}
        {% for nn, d in ar1 %}

            
            
            {% if 1 == 2 %}
                {% if jobs_on_sp['jobs'][jobman][d.date] is defined %}
                    {% set now = jobs_on_sp['jobs'][jobman][d.date] %}
                {% endif %}
            {% endif %}

            
            
            {# показываем плюсы минусы и смены где часов больше ноля #}
            {#% if d.type == 'plus' or d.type == 'minus' or ( d.type == 'checks' and now.hour > 0 ) %#}
            {% if d.type == 'plus' or d.type == 'minus' or ( d.type == 'checks' and d.hour_on_job > 0 ) %}

                <div
                    {% if d.ocenka is not defined or now.ocenka == 0 %}
                        class="trow"
                        {% set error_ruk = true %}
                    {% else %}
                        class="trow info_{{ jobman }}" style="display:none;"  
                    {% endif %}
                    >

                    <div class="tcell" >
                        {{ d.date|date('d.m.Y') }}
                    </div>

                    <div class="tcell bg-white stick-left" >

                        {% if d.type == 'minus' %}

                            <span class="checks_item minus" >Взыскание</span> {{ d.text }}

                        {% elseif d.type == 'plus' %}

                            <span class="checks_item plus" >Премия</span> {{ d.text }}

                        {% elseif d.type == 'checks' %}

                            {#
                            111111
                            {{ pa(d) }}
                            222222
                            #}
                            
                            {#
                            {% if d.now_job.type2 == 'spec' %}
                                <span class="checks_item spec" >Спец. назначение</span>
                            {% endif %}
                            #}

                            <span class="checks_item smena" >Раб. смена</span>

                            c {{ d.start[11:5] }} до {{ d.fin[11:5] }}
                            <br/>

                            {#{ pa(d) }}
                            {{ pa( jobs_on_sp['jobs'][jobman][d.date] ) }#}


                            {% if d.hour_on_job is defined %}
                                Часов: {{ d.hour_on_job }}
                            {% endif %}

                            {% if now.ocenka_skip is defined %}

                                {% if now.price_hour is defined %}
                                    Цена часа: {{ now.price_hour }} р
                                {% endif %}

                            {% elseif now.ocenka is not defined or now.ocenka == 0 %}

                                <div class="alert-warning" style="padding:5px;">для расчёта нет оценки за смену</div>
                                
                            {% else %}

                                {% if now.ocenka is defined %}
                                    Оценка: {{ now.ocenka }}
                                {% endif %}

                                {% if now.price_hour is defined %}
                                    Цена часа: {{ now.price_hour }} р
                                {% endif %}

                            {% endif %}

                        {% else %}
                            - пожалуйста напишите администратору -
                        {% endif %}

                        {#% if d.date == '2019-07-06' %}
                            {{ pa(d) }}
                            {{ pa(now) }}
                        {% endif %#}

                        {{ pa(d,2) }}
                        {{ pa(now,2) }}



                    </div>

                    <div class="tcell text-right" >

                        {% set summa = 0 %}

                        {% if now.summa > 0 %}

                            {% set summa = now.summa %}

                        {% elseif d.summa > 0 %}

                            {% set summa = d.summa %}

                        {% endif %}

                        {% if summa > 0 %}

                            {{ summa|number_format(0, '.', '`') }}
                            {% set summa_man = summa_man + summa %}

                        {% endif %}

                    </div>
                    <div class="tcell" >

                        {% if payed[d.id_check] is defined %}

                            выплачено {{ summa }}

                        {% else %}

                            {% if summa > 0 %}

                                <button class="btn btn-xs btn-light send-pay-good" 

                                        val-summa="{{ summa }}" 
                                        val-checkin="{{ d.id_check }}"

                                        show_on_click="res{{ d.id_check }}"
                                        resto="res{{ d.id_check }}"

                                        >Выплачено</button>

                                <div id="res{{ d.id_check }}" >111</div>

                                {#{ summa }}
                                {{ d.id_check }#}
                            {% endif %}

                        {% endif %}


                        {#{ pa(d) }#}

                    </div>

                </div>

            {% endif %}
        {% endfor %}

        {#% endfor %#}

    {% endfor %}

    {% if error_ruk == true %}
        <div class="trow"  >

            <div class="tcell" >
            </div>

            <div class="tcell bg-white text-center" >
                Работа управляющего не закончена, оплату рано выдавать
            </div>

            <div class="tcell bg-white text-right" >
            </div>

            <div class="tcell" >
            </div>

        </div>
    {% endif %}
    <div class="trow"  >

        <div class="tcell" >
        </div>

        <div class="tcell bg-white text-right" >
            <b>Итого:</b>
        </div>

        <div class="tcell bg-white text-right" >
            <b>{{ summa_man|number_format(0, '.', '`') }}</b>
        </div>

        <div class="tcell" >
        </div>

    </div>

{% endspaceless %}
