{% spaceless %}

    {# верхняя строка сотрудника #}
    {% if 1 == 1 %}


        {# версия для печати #}
        {% if get.type is defined and get.type == 'print' %}
        {% else %}

            <div class="trow stick-top3 row_user" 
                 {# style="background-color: lightgreen;" #}
                 >

                <div class="tcell"  >&nbsp;</div>

                <div class="tcell nameuser" >

                    {% if 1 == 2 %}
                        {{ pa(session) }}
                        {# текущий пользователь #}
                        {{ pa(session.now_user_di.id) }}
                    {% endif %}

                    <button class="btn-xs btn" 
                            onclick="$('.info_{{ man_id }}').toggle('slow');"
                            style="float:right;">показать/скрыть подробности</button>

                    <span title="#{{ man_id }}" >{{ man }}</span> &nbsp; 

                    {% if jobmans.data.ar__jm_sp[man_id]|length > 1 %}

                        {% for sp_id,v in jobmans.data.ar__jm_sp[man_id] %}
                            <button class="base__send_to_ajax btn btn-xs {% if sps_heads__jm_sp[man_id] is defined and sps_heads__jm_sp[man_id] == sp_id %}btn-success{% else %}btn-light{% endif %} " style="border: 1px solid gray;" 

                                    href_to_ajax="/vendor/didrive_mod/job_buh/1/micro-service/set_head_sp_for_jobman.php" 
                                    date="{{ get.d_fin }}"
                                    sale_point="{{ sp_id }}"
                                    jobman="{{ man_id }}"

                                    after_click_showid="info_sp_head_{{ man_id }}" 
                                    res_to_id="info_sp_head_{{ man_id }}" 
                                    msg_to_success="<div class='alert-success' >Установлена главная точка продаж {{ sps[sp_id]['head'] }} (обновите страницу)</div>" 

                                    {#// эти строчки для второго запроса // будет отправлен если они есть#}
                                    {#xajax2_link='/vendor/didrive_mod/items/3/micro-service/delete-items.php'#}
                                    {#xajax2_vars='r_module=sp_ocenki_job_day&remove[sale_point]={{ sp_now }}&remove[date]={{ date }}'#}

                                    >{{ sps[sp_id]['head'] }}</button>


                            {#<a href="#" 
                        
                                class="base__send_to_ajax" 
                                style="float:right;" 
                        
                                href_to_ajax="/vendor/didrive_mod/items/1/ajax.php" 
                        
                                xhidethis="da" 
                                xanswer="удалить комментарий ?" 
                        
                                action="remove_item" 
                                aj_id="' + ar['id'] + '" 
                                aj_s="' + ar['s'] + '" 
                        
                                res_to_id="com' + ar['id'] + '" 
                                after_click_showid="com' + ar['id'] + '" 
                                msg_to_success="Комментарий удалён" 
                        
                                // эти строчки для второго запроса // будет отправлен если они есть
                                ajax2_link='/vendor/didrive_mod/items/3/micro-service/delete-items.php'
                                ajax2_vars='r_module=sp_ocenki_job_day&remove[sale_point]={{ sp_now }}&remove[date]={{ date }}'
                        
                                >aaaaaa</a>#}


                        {% endfor %}

                        {% if sps_heads__jm_sp[man_id] is not defined %}
                            <small style="padding:3px; background-color: yellow;" > << укажите главную точку продаж</small>
                        {% endif %}

                        <div id="info_sp_head_{{ man_id }}" style="display:none;"></div>

                    {% else %}

                        <abbr title="текущая точка продаж главная" style="color: gray;" >{{ sps[get.sp]['head'] }}</abbr>

                    {% endif %}

                </div>

                <div class="tcell" >&nbsp;</div>
                <div class="tcell" >&nbsp;</div>
                <div class="tcell" >&nbsp;</div>

            </div>

        {% endif %}


    {% else %}

        <div class="trow stick-top3 row_user" 
             {# style="background-color: lightgreen;" #}
             >

            <div class="tcell"  >&nbsp;</div>
            <div class="tcell nameuser" >


                {% if 1 == 2 %}
                    {{ pa(session) }}
                    {# текущий пользователь #}
                    {{ pa(session.now_user_di.id) }}
                {% endif %}

                <button class="btn-xs btn" 
                        onclick="$('.info_{{ man_id }}').toggle('slow');"
                        style="float:right;">показать/скрыть подробности</button>

                <span title="#{{ man_id }}" >{{ man['fio'] }}</span> &nbsp; 

                {#{ pa(getListJobsPeriodAll.data.job_on_sp) }#}

                <sup style="xfont-size:0.8em; color: black;" title="отмечены точки продаж где сотрудник работает в этом месяце">

                    {# считаем сколько точек было в работе у сотрудника #}
                    {% if 1 == 1 %}
                        {% set kolvo_points = 0 %}
                        {% for k,v in getListJobsPeriodAll.data.job_on_sp if v[man_id] is defined %}
                            {% set kolvo_points = kolvo_points + 1 %}
                        {% endfor %}
                        {# если одна точка показываем типа она выбрана ... а если больше .. то просим выбрать #}
                        {# условие #}
                        {# {% if ( kolvo_points == 1 ) or ( head_sps__jobman_sp[man_id] is defined and head_sps__jobman_sp[man_id] == k ) %} #}
                    {% endif %}





                    {% set run_head = false %}
                    {% set run_head_other = false %}
                    {% set nn = 0 %}

                    {#{% for k,v in getListJobsPeriodAll.data.job_on_sp if v[man_id] is defined %}#}
                    {% for k,v in getListJobsPeriodAll.data.job_on_sp if v[man_id] is defined %}

                        {% set nn = nn + 1 %}

                        {#{ pa(k) }}
                        {{ pa(v) }#}

                        {% set a_action = 'items__creat' %}
                        {% set a_mod = '005_money_buh_head_sp' %}

                        {% set send_ar = [] %}
                        {% set send_ar = send_ar|merge([{ 
                        'name':'jobman', 
                        'value': man_id , 
                        'check_delete':'da' 
                        }]) %}
                        {% set send_ar = send_ar|merge([{
                        'name':'date', 
                        'value': get.d_fin ,
                        'check_delete':'da'
                        }]) %}
                        {% set send_ar = send_ar|merge([{
                        'name':'sale_point', 
                        'value': k ,
                        'xcheck_delete':'da'
                        }]) %}

                        {#{ v[man_id]['head_sp'] ?? 'x' }#}

                        <{% if 1 == 1 or ( now_level.type2 is defined and now_level.type2 == 'buh' ) %}a{% else %}span{% endif %}
                                href="#" 
                                style="

                                {% if 1 == 1 %}

                                    {% if ( kolvo_points == 1 ) or ( head_sps__jobman_sp[man_id] is defined and head_sps__jobman_sp[man_id] == k ) %}

                                        {#% if k != %}
                                        {% set run_head_other = true %#}

                                        {% set run_head = true %}
                                        background-color: rgba(0,255,0,0.2);
                                        xborder: green solid 2px;

                                    {% else %}
                                        background-color: rgba(0,0,0,0.1); 
                                    {% endif %}

                                {% endif %}

                                color:gray;
                                margin-right:2px; 
                                padding:3px 5px;
                                "


                                {% if 1 == 1 or ( now_level.type2 is defined and now_level.type2 == 'buh' ) %}

                                    xonclick="$(this).addClass('bg-success');"

                                    {# подключаем обработку #}
                                    class="base__send_to_ajax

                                    {#% if ( kolvo_points == 1 ) or ( head_sps__jobman_sp[man_id] is defined and head_sps__jobman_sp[man_id] == k ) %}
                                        bg-success
                                    {% else %}
                                        bg-light
                                    {% endif %#}

                                    "

                                    {# ссылка на обработчик ajax #}
                                    href_to_ajax="/vendor/didrive_mod/items/1/didrive/ajax.php" 

                                    {# id куда печатаем результат #}
                                    res_to_id="res{{ man_id }}" 

                                    {# действие после вопроса #}
                                    comit_answer="Установить главной точкой продаж на выбранный платёжный период ?"

                                    action="{{ a_action }}"

                                    {# модуль в котором item #}
                                    item_module="{{ a_mod }}"

                                    {% set ss = '' %}

                                    {% for k1,v1 in send_ar %}
                                        {% for k,v in v1 %}
                                            dop_item{{ k1 }}_{{ k }}="{{ v }}"

                                            {% if k == 'name' or k == 'value' %}
                                                {% set ss = ss~'-' ~ v %}
                                            {% endif %}

                                        {% endfor %}
                                    {% endfor %}

                                    {# секрет #}
                                    s="{{ creatSecret( a_action~'-'~a_mod~ss ) }}" 

                                    {% if 1 == 2 %}

                                        {# замена доп параметра #}

                                        {# сообщение печатаем если всё ок #}
                                        msg_to_success="Окей!"

                                        {# модуль итемов #}
                                        xitemsmod="{{ a_mod }}"

                                        {# id итема #}
                                        xitem_id="{{ pay.id }}"

                                        {# название доп параметра #}
                                        {# dop_name="pay_check" #}
                                        {# новое значение параметра #}
                                        {# dop_new_value="no" #}

                                        {# секрет #}
                                        {# s3="{{ creatSecret( '050.chekin_checkout-'~item.id~'-pay_check-no' ) }}"  #}

                                        {# новое значение статуса записи #}
                                        xnew_status="{{ a_status }}" 

                                        {# скрыть ссылку после клика #}
                                        xhidethis="da" 

                                        {# сделать видимым блок по id #}
                                        xshow_id="res{{ man_id }}" 

                                    {% endif %}

                                {% endif %}

                                >

                                <nobr>
                                    {% if ( kolvo_points == 1 ) or ( head_sps__jobman_sp[man_id] is defined and head_sps__jobman_sp[man_id] == k ) %}
                                        {% set now_sp_head = k %}
                                        <span class="fa fa-check"></span>
                                    {% else %}
                                        <span class="fa fa-circle-thin"></span>
                                    {% endif %}
                                    {{ sps[k]['head'] }}
                                </nobr>

                        </{% if 1 == 1 or ( now_level.type2 is defined and now_level.type2 == 'buh' ) %}a{% else %}span{% endif %}>

                    {% endfor %}


                    {% if 1 == 1 or ( now_level.type2 is defined and now_level.type2 == 'buh' ) %}
                        <span id="res{{ man_id }}" >

                            {% if run_head == false and nn > 1 %}
                                <span class="bg-warning" style="display:inline-block; padding:2px 5px; line-height: 1.5em; xheight: 1.5em;" ><span class="fa fa-arrow-left"></span> Выберите главную точку продаж</span>
                            {% endif %}

                        </span>
                    {% endif %}

                </sup>

            </div>

            <div class="tcell" >&nbsp;</div>
            <div class="tcell" >&nbsp;</div>
            <div class="tcell" >&nbsp;</div>

        </div>
    {% endif %}

{% endspaceless %}