{% spaceless %}

    <style>
        div sup{ color: rgba(0,0,0,0.05); }
        div:HOVER > sup{ color: rgba(0,0,0,0.5); }
        .sup_hover_gray sup{ color: rgba(0,0,0,0.3); }
        .sup_hover_gray:HOVER > sup.gray{ color: rgba(0,0,0,0.7); }
    </style>

    {# таблицы если выбрана дата показа #}

    <div class="row">

        <div class="col-xs-12 col-xl-12">

            {% set date_start = get.d_start %}
            {% set date_finish = get.d_fin %}

            {% set sp_now = get.sp %}

            {# новая версия #}
            {% if 1 == 1 %}

                {% if session['now_user_di']['soc_web_id'] == 5903492 %}
                    {{ didrive_f__timer_start(781) }}
                {% endif %}

                {# кто  #}
                {% set jobmans = jobdesc_ms__get_list_jobmans_job_on_sp_month( db, sp_now, date_start ) %}
                {# pa(jobmans) {{ pa(jobmans,2) }} #}

                {% if session['now_user_di']['soc_web_id'] == 5903492 %}
                    <small><br/>jobmans {{ didrive_f__timer_stop(781) }}</small>
                    {% endif %}

                {#{{ pa(jobmans) }}#}
                {#     pa(jobmans.data.send_on_job,2) 
                    {{ pa(jobmans.data.send_on_job,2) }}
                     pa(jobmans.data.spec,2) 
                    {{ pa(jobmans.data.spec,2) }}
                #}

                {% if session['now_user_di']['soc_web_id'] == 5903492 %}
                    {{ didrive_f__timer_start(781) }}
                {% endif %}

                {% set actions = buh__jobdesc_ms__get_actions_jobmans_on_month( db, jobmans.data.jobmans|keys , date_start ) %}
                
                {% if session['now_user_di']['soc_web_id'] == 5903492 %}
                pa(actions,2) {{ pa(actions,2) }}
                {% endif %}
                
                {% if session['now_user_di']['soc_web_id'] == 5903492 %}
                    <small>
                        <br/> 
                        actions {{ didrive_f__timer_stop(781) }}
                    </small>
                {% endif %}

                {% if session['now_user_di']['soc_web_id'] == 5903492 %}
                    {{ didrive_f__timer_start(781) }}
                {% endif %}

                {% set position_pay = jobdesc_get_size_pay_position_month( db, sp_now, now_dolgn['dolgnost'], date_start ) %}

                {#position_pay#}
                {#{{  pa(position_pay,2) }}#}

                {% if session['now_user_di']['soc_web_id'] == 5903492 %}
                    <small>
                        <br/> position_pay {{ didrive_f__timer_stop(781) }}
                    </small>
                {% endif %}

                {% set head_sps__jobman_sp = job_buh__get_head_sp( db, date_finish ) %}
                {# {{ pa(head_sps__jobman_sp) }} #}

            {% else %}

                {% set getListJobsPeriodAll = jobdesc__getListJobsPeriodAll( db, date_start, date_finish ) %}
                {# весь массив данных по этому месяцу #}
                {#{ pa(getListJobsPeriodAll,2) }#}
                {# список сотрудников работающих на точках в этом месяце #}
                {#{ pa(getListJobsPeriodAll.data.job_on_sp) }#}
                {# список сотрудников работающих на точке в этом месяце #}
                {#{ pa(getListJobsPeriodAll.data.job_on_sp[get.sp],2) }#}

                {# получаем список главных точек для сотрудников за дату (конец периода оплаты) #}
                {% set head_sps__jobman_sp = job_buh__get_head_sp( db, date_finish ) %}
                {#{ pa(head_sps__jobman_sp) }#}

                {#{ pa(session) }#}

            {% endif %}     







            {#{% if get.sp is defined and getListJobsPeriodAll.data.job_on_sp[get.sp] is defined %}#}
            {% if get.sp is defined %}

                {% set buh_pm_cfg = get_buh_PM_cfg() %}

                {% set sps = items__get( db, 'sale_point' )  %}    
                {#{ pa(sps) }#} 
                {% set dolgnosti = items__get( db, '061.dolgnost' )  %}
                {#{ pa(dolgns.data,2) }#}


                {# показ таблицы с данными #}
                {% if 1 == 1 %}

                    <span style="position: relative;">

                        {% set gets = get %}

                        {% if 1 == 2 %}
                        {% set gets = gets|merge({ 'type':'print' }) %}
                        <a href="/i.didrive.php?{{ http_build_query(gets) }}" target="_blank" 
                           xstyle="float:right;"
                           xclass="btn btn-xs btn-success" style="display:inline-block; margin-bottom:15px; xfloat:right;"><i class="fa fa-print" ></i> Версия для печати</a>
                        {% endif %}
                           
                        <div class="ttable cell-padding5 list_otrezki2 cell-border">

                            <div class="trow user_head alert-warning stick-top"  >
                                <div class="tcell" >
                                    <span>Когда</span>
                                </div>
                                <div class="tcell" >
                                    <span>За что</span>
                                </div>

                                <div class="tcell" >
                                    <span>Начислено</span>&nbsp;₽
                                </div>
                                <div class="tcell" >
                                    <span>Оплачено</span>&nbsp;₽
                                </div>

                                <div class="tcell" >
                                    <span>Остаток</span>&nbsp;₽
                                </div>

                            </div>

                            {# новая версия #}
                            {% if 1 == 1 %}

                                {% for man_id, man in jobmans.data.jobmans %}

                                    {#{{ pa(man_id) }} {{ pa(man) }}#}
                                    {% include '/vendor/didrive_mod/job_buh/1/didrive/tpl/body.2007.tables.user.htm' %}

                                {% endfor %}

                            {% else %}


                                {# спец назначения #}
                                {#{  pa(getListJobsPeriodAll.data.spec.data,2) }#}

                                {# расклад по работе сотрудников кто где #}
                                {#{ pa(getListJobsPeriodAll.data.where_job__workman_date,2) }#}

                                {% for man_id, man in getListJobsPeriodAll.data.job_on_sp[get.sp] %}

                                    {% set new_list_smens = jobbuh__newGetSmensFullMonth(db,man_id,get.d_fin) %}
                                    {#new_list_smens#}
                                    {#{{  pa(new_list_smens,2) }}#}

                                    {% set new_pays = jobdesc__newGetPaysDopFullMonth(db,man_id,get.d_fin) %}
                                    {#new_pays#}
                                    {#{{ pa(new_pays) }}#}

                                    {% include '/vendor/didrive_mod/job_buh/1/didrive/tpl/body.tables.user.htm' %}

                                {% endfor %}
                            {% endif %}

                        </div>
                    </span>

                {% endif %}
            {% endif %}

        </div>
    </div>

{% endspaceless %}