{% spaceless %}

    <div class="container-fluid">
        <div class="grid">

            {% set t = didrive_f__timer_start(99) %}

            {% if 1 == 2 %}            
                <div class="row">
                    <div class="col-xs-12 col-xl-12">

                        {# Выберите сотрудника #}
                        <br/>
                    </div>
                </div>
            {% endif %}

            {% include '/vendor/didrive_mod/job_buh/1/didrive/tpl/body.dates.htm' %}

            {% if get.d_start is defined and get.d_fin is defined %}

                {#% set sps = readItems( 'sale_point', null )  %#}
                {#{ pa(sps.data,2) }#}
                {% include '/vendor/didrive_mod/job_buh/1/didrive/tpl/body.tables.htm' %}
                
            {% else %}

                <div class="alert-warning text-center" style="padding: 5px 10px; max-width: 300px; border-radius: 5px;">
                    Выберите расчётный период
                </div>

            {% endif %}

            
            
            {% set t = didrive_f__timer_stop(99) %}
            <div class="alert-warning" style="position: fixed; bottom: 10px; right: 10px; padding: 3px 10px;">обработка {{ t }} сек</div>


            
            
        </div>
    </div>

{% endspaceless %}
