{% spaceless %}

    <style>
        div sup{ color: rgba(0,0,0,0.05); }
        div:HOVER > sup{ color: rgba(0,0,0,0.5); }
        .sup_hover_gray sup{ color: rgba(0,0,0,0.3); }
        .sup_hover_gray:HOVER > sup.gray{ color: rgba(0,0,0,0.7); }
    </style>

    {# таблицы если выбрана дата показа #}

    <div class="row">

        <div class="col-xs-12 col-xl-12">


            {% set sps = readItems( 'sale_point', null )  %}
            {#{ pa(sps.data,2) }#}

            {% set dolgns = readItems( '061.dolgnost', null )  %}
            {#{ pa(dolgns.data,2) }#}

            {% set date_start = get.d_start %}
            {% set date_finish = get.d_fin %}

            {#{ date_start }} // {{ date_finish }#}

            
            
            
            
            
            {% if 1 == 1 %}
                {% set checks = job_buh__getChecksMinusPlus(db,date_start,date_finish) %}
                {# checks
                {{ pa(checks,2) }} 
                #}
            {% endif %}

            {# достаём оплаты по чек инам #}
            {% if 1 == 1 %}

                {% set payed = job_buh__get_payed(db,date_start,date_finish) %}

                {% if 1 == 2 %}
                    payed
                    <div style="max-height: 400px; overflow: auto;" >
                        {{ pa(payed) }}
                    </div>
                {% endif %}

            {% endif %}
            
            {# достаём плюсы минусы #}
            {% if 1 == 1 %}
                {%  set money_dops = jobdesc__get_money_dops( db, date_start, date_finish, null, 'jobman-date' ) %}
                {#
                    money_dops
                    <div style="max-height: 400px; overflow: auto;" >
                        {{ pa(money_dops) }}
                    </div>
                #}
            {% endif %}

            
            
            
            
            
            
            
            
            
            
            {# показ таблицы с данными #}
            {% if 1 == 1 %}

                <span style="position: relative;">

                    <div class="ttable cell-padding5 list_otrezki2 cell-border">

                        <div class="trow alert-warning stick-top"  >
                            <div class="tcell" >
                                Когда
                            </div>
                            <div class="tcell" >
                                За что
                            </div>
                            <div class="tcell" >
                                Сумма
                            </div>
                            <div class="tcell" >
                                Статус оплаты
                            </div>
                        </div>

                        {% for workman_id, checks_man in checks if checks_man['fio'] is defined  %}

                            {% include '/vendor/didrive_mod/job_buh/1/didrive/tpl/body.tables.1user2.htm' %}

                        {% endfor %}

                    </div>
                </span>

            {% endif %}
        </div>
    </div>

{% endspaceless %}
