
.ttable{ display: table; width: 100%; }
.ttable .trow{ display: table-row; }
.ttable .tcell{ display: table-cell; }

.ttable.cell-padding5 .tcell{ padding: 5px; }
.ttable.cell-border .tcell{ border: 1px solid rgba(0,0,0,0.1); }

.stick-top{
    xposition: static; 
    xposition: sticky; 
    top:80px;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    z-index: 50;
}
.stick-top2{
    xposition: static; 
    xposition: sticky; 
    top:110px;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    z-index: 50;
}
.stick-top3{
    xposition: static; 
    xposition: sticky; 
    xtop:140px;
    top:9.2em;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    z-index: 50;
}
.stick-bottom{
    xposition: static; 
    xposition: sticky; 
    bottom:0px;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    z-index: 50;
}


.btn-date-pick{ xmargin-right: 5px; margin-bottom: 5px; }

.checks_item{
    padding: 2px 5px ;
    display: inline-block;
}
.checks_item.smena{
    background-color: rgba(0,255,0,0.3);
}
.checks_item.spec{
    background-color: rgba(255,0,0,0.3);
}
.checks_item.plus{
    background-color: lawngreen;
}
.checks_item.minus{
    background-color: hotpink;
}

.checks_item.sp1{
    background-color: rgba(0,0,0,0.05);
}

.checks_item.dolgn{
    background-color: rgba(0,200,200,0.15);
}

.row_user .tcell{
    background-color: #efefef; 
    border: none;
}



.trow.user_head .tcell span,
.tcell.nameuser > span,
.tcell.summa1,
.tcell.ostatki{
   font-size: 1.3rem;
}
.tcell.ostatki{
    text-align: center;
}

.tcell.plategi{
    font-size: 1rem;
}